aiohttp==3.13.3
beautifulsoup4==4.12.3
bs4==0.0.2
certifi==2024.12.14
charset-normalizer==3.4.1
colorlog==6.10.1
idna==3.10
propcache==0.4.1
pytest==9.0.3
requests==2.32.3
rsa==4.9
soupsieve==2.6
steampy==1.2.0
urllib3==2.3.0
